{% extends 'base.html.twig' %}

{#detallrs de autor#}
{% block title %}Detalles del Autor{% endblock %}

{% block body %}
    <div class="m-5">

        <h2>{{ 'detalle_autor' |trans }}</h2>
        <p><strong>{{ 'nombre' |trans }}:</strong> {{ autor.name }}</p>
        <p><strong>{{ 'apellido'|trans }} :</strong> {{ autor.apellidoPaterno }} {{ autor.apellidoMaterno }}</p>
        <p><strong>{{ 'fecha_nacimiento'|trans }}:</strong> {{ autor.fechaNac ? autor.fechaNac|date('Y-m-d') : 'N/A' }}</p>

        {#ver los libros que ha realizado el autor por tabla#}
        <h3>{{ 'libros_escritos' | trans }}</h3>
        {% if autor.libros is not empty %}
            <table id="myTable" class="display">
                <thead>
                <tr>
                    <th>No</th>
                    <th>{{'titulo'|trans}}</th>
                    <th>{{ 'isbn'|trans }}</th>
                    <th>{{'paginas'|trans}}</th>
                </tr>
                </thead>
                <tbody>
                {% for libro in autor.libros %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.isbn }}</td>
                        <td>{{ libro.noPaginas }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Este autor no tiene libros asociados.</p>
        {% endif %}

    </div>


{% endblock %}

