{% extends 'base.html.twig' %}

{% block title %}Autores{% endblock %}

{%block body %}
    <div class="m-5">

        <h2>{{ 'lista_autores'|trans }}</h2>
        <button type="button" class=" btn btn-primary" onclick="location.href='{{ path('app_new_autor') }}'">
            {{ 'agregar_autor'| trans }}
        </button>
        <table id="myTable" class="display table table-striped">
            <thead>
            <tr>
                <th>NO</th>
                <th>Id</th>
                <th>{{ 'nombre' |trans }}</th>
                <th>{{ 'apellido'|trans }}</th>
                <th>{{ 'fecha_nacimiento' |trans }}</th>
                <th>{{ 'Acciones' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for autor in autores %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ autor.id }}</td>
                    <td>{{ autor.name }}</td>
                    <td>{{ autor.apellidoPaterno }} {{ autor.apellidoMaterno }}</td>
                    <td>{{ autor.fechaNac ? autor.fechaNac|date('Y-m-d') : 'N/A' }}</td>
                    <td>

                        <button type="button" class=" btn btn-info" onclick="location.href='{{ path('app_autor_by_id', {'id': autor.id}) }}'">
                            {{ 'ver'|trans }}
                        </button>
                        <button type="button" class=" btn btn-warning" onclick="location.href='{{ path('app_update_autor', {'id': autor.id}) }}'">
                            {{ 'editar' |trans }}
                        </button>
                        <button
                                class="btn btn-danger"
                                data-controller="autor"
                                data-action="autor#delete"
                                data-autor-id-value="{{ autor.id }}"
                                data-autor-url-value="{{ path('app_delete_autor', {'id': autor.id}) }}"
                        >
                            {{ 'eliminar' |trans}}
                        </button>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}