{% extends 'base.html.twig' %}

{#detalles de biblioteca#}
{% block title %}Detalles de la Biblioteca{% endblock %}

{% block body %}
    <div class="m-5">
        <h1>{{ 'detalles_biblioteca'| trans}}</h1>

        <ul>
            <li><strong>ID:</strong> {{ biblioteca.id }}</li>
            <li><strong>{{ 'nombre_biblioteca'|trans }}:</strong> {{ biblioteca.nombre }}</li>
            <li><strong>{{'direccion' |trans}}:</strong> {{ biblioteca.calle }} {{ biblioteca.colonia }} {{ biblioteca.NO }}</li>
        </ul>
        <div>
            <h2>{{ 'libros_disponibles'|trans }}</h2>

            <button type="button" class="btn btn-primary" onclick="location.href='{{ path('app_new_libro_biblioteca' ,{
                'id': biblioteca.id
            }) }}'">{{ 'agregar_libro'|trans }}</button>

            <table id="myTable" class="display">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>{{ 'titulo' |trans }}</th>
                    <th>{{ 'autor' |trans }}</th>
                    <th>{{ 'cantidad' |trans}}</th>
                    <th>{{ 'puntaje' | trans }}</th>
                    <th>{{ 'acciones' |trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.libro.titulo }}</td>
                        <td>{{ libro.libro.autor.name }}</td>
                        <td>{{ libro.cantidad }}</td>
                        <td>{{ libro.puntuacion }}</td>
                        <td>
                            <button type="button" class="btn btn-info" onclick="location.href='{{ path('app_show_libro', {
                                'id': libro.libro.id
                            }) }}'">
                                {{ 'ver'|trans }}
                            </button>
                            <button type="button" class="btn btn-warning" onclick="location.href='{{ path('app_edit_libro_biblioteca',{
                                'id': libro.id
                            }) }}'">
                                {{ 'editar'|trans }}
                            </button>
                            <button
                                    class="btn btn-danger"
                                    data-controller="autor"
                                    data-action="autor#delete"
                                    data-autor-id-value="{{ libro.id }}"
                                    data-autor-url-value="{{ path('app_delete_libro_biblioteca', {'id': libro.id}) }}"
                            >
                                {{ 'eliminar'|trans }}
                            </button>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
{% endblock %}