{% extends 'base.html.twig' %}

{% block title %}Bibliotecas{% endblock %}

{% block body %}
<div class="m-5">
    <h2>{{'lista_bibliotecas'|trans }}</h2>

    <button type="button" class="btn btn-primary" onclick="location.href='{{ path('app_new_biblioteca')}}'">
        {{ 'agregar_biblioteca'|trans }}
    </button>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'nombre_biblioteca'|trans }}</th>
            <th>{{ 'calle' |trans }}</th>
            <th>{{ 'colonia' |trans}}</th>
            <th>{{ 'telefono' |trans }}</th>
            <th>{{ 'Acciones' |trans}}</th>
        </tr>
        </thead>
        <tbody>
        {% for biblioteca in bibliotecas %}
            <tr>
                <td>{{ biblioteca.id }}</td>
                <td>{{ biblioteca.nombre }}</td>
                <td>{{ biblioteca.calle }}</td>
                <td>{{ biblioteca.colonia }}</td>
                <td>{{ biblioteca.tel }}</td>
                <td>
                    <button type="button" class="btn btn-info" onclick="location.href='{{ path('app_biblioteca_by_id', {'id': biblioteca.id}) }}'">
                        {{ 'ver' |trans  }}
                    </button>
                    <button type="button" class="btn btn-warning" onclick="location.href='{{ path('app_update_biblioteca', {'id': biblioteca.id}) }}'">
                        {{ 'editar' |trans  }}
                    </button>
                    <button
                            class="btn btn-danger"
                            data-controller="autor"
                            data-action="autor#delete"
                            data-autor-id-value="{{ biblioteca.id }}"
                            data-autor-url-value="{{ path('app_delete_biblioteca', {'id': biblioteca.id}) }}"
                    >
                        {{ 'eliminar' |trans  }}
                    </button>
                </td>
            </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}