{%extends 'base.html.twig' %}

{% block title %}{{ 'agregar_biblioteca' |trans }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center min-vh-100" >
        <div class="card p-4 w-25">
            <h1 class="card-title text-center mb-4">{{ 'agregar_biblioteca'|trans }}</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}