{% extends 'base.html.twig' %}

{% block title %}Detalles del libro{% endblock %}

{% block body %}
    <div class="m-5">
        <h2>{{ 'detalle_libro' |trans }}</h2>
        <ul>
            <li><strong>ID:</strong> {{ libro.id }}</li>
            <li><strong>{{ 'titulo'|trans }}:</strong> {{ libro.titulo }}</li>
            <li><strong>ISBN:</strong> {{ libro.isbn }}</li>
            <li><strong>{{ 'autor'|trans }}:</strong> {{ libro.autor.name }} {{ libro.autor.apellidoPaterno }} {{ libro.autor.apellidoMaterno }}</li>
            <li><strong>{{ 'sinopsis'|trans }}:</strong> {{ libro.sinopsis }}</li>

        </ul>

        {#    datatable que muestra las bibliotecas a las que pertenece#}
        <h3>{{ 'bibliotecas_con_libro'|trans }}</h3>
        <table id="myTable" class="display">
            <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>{{ 'biblioteca.nombre'|trans }}</th>
                <th>{{ 'direccion'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for biblioteca in bibliotecas %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ biblioteca.id }}</td>
                    <td>{{ biblioteca.biblioteca.nombre }}</td>
                    <td>{{ biblioteca.biblioteca.calle }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ mensaje_no_biblioteca }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}