{%extends 'base.html.twig' %}

{% block title %}Libros{% endblock %}

{% block body %}
    <div class="m-5">
        <h2>{{ 'lista_libros' |trans }}</h2>
        <button type="button" class="btn btn-primary" onclick="location.href='{{ path('app_new_libro') }}'">
            {{ 'agregar_libro' |trans }}
        </button>
        <table id="myTable" class="display">
            <thead>
            <tr>
                <th>NO</th>
                <th>Id</th>
                <th>{{ 'titulo' |trans }}</th>
                <th>{{ 'autor'|trans }}</th>
                <th>{{ 'Acciones'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for libro in libros %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ libro.id }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor ? libro.autor.name ~ ' ' ~ libro.autor.apellidoPaterno : 'N/A' }}</td>
                    <td>
                        <button type="button" class="btn btn-info" onclick="location.href='{{ path('app_show_libro', {'id': libro.id}) }}'">
                            {{ 'ver'|trans }}
                        </button>
                        <button type="button" class="btn btn-warning" onclick="location.href='{{ path('app_edit_libro', {'id': libro.id}) }}'">
                            {{ 'editar'| trans }}
                        </button>
                        <button
                                class="btn btn-danger"
                                data-controller="autor"
                                data-action="autor#delete"
                                data-autor-id-value="{{ libro.id }}"
                                data-autor-url-value="{{ path('app_delete_libro', {'id': libro.id}) }}"
                        >
                            {{ 'eliminar'|trans }}
                        </button>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}